body{
	background-color: #e2e2e2!important;
	
}

.bg-primary{
	
	background:#009688 !important;
	
}

.banner{
	width:100%;
	background-size:cover;
	color:white;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url(../img/banner.jpg);
	
	
}

.my-card{

padding:20px;
background:#FFFFFF;	
	
	
}